.container{
    width: 375px;
    height: 812px;
    background-color: white;
    position: relative;
}
.logo{
    width: 72px;
    height: 64px;
position: absolute;
top: 69px;
left: 148px;
}
.sign{
    width: 165px;
    height: 19px;
    position: absolute;
    top: 145px;
    left: 105px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: rgba(105, 35, 91, 1);
}
.enter{
    width: 293px;
    height: 40px;
    position: absolute;
    top: 181px;
    left: 31px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color:  rgba(105, 35, 91, 1);
}
.input{
    width: 329px;
    height: 58px;
    border: none;
    outline: none;
}
.info{
    width: 329px;
    height: 58px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: rgba(105, 35, 91, 1);
  /* background-color: #ffc746; */

}
.details{
    position: absolute;
    top: 281px;
    left: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.line{
    width: 327px;
    border: 1px solid  rgba(205, 209, 208, 1);
    margin-top: auto;
    color: red;
}


/* styles.module.css */
.btn {
    width: 340px;
    height: 54px;
    position: absolute;
    top: 721px;
    left: 17px;
    border-radius: 10px;
    background-color: #ffc746;
    border: none;
    cursor: pointer;
  }
.back{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 61px;
    left: 24px;
}  
.invalid{
    color: red;
    font-weight: 100;
    font-size: 12px;
    width: 114px;
    height: 24px;
   position: absolute;
   top: 125px;
   left: 228px;  
}
.invalid {
    color: red;
    border: none;
    /* background-color: red; */
    /* Other styles for the invalid email message */
  }
/* Make the .btn span selector more specific */
  .btn span {
    font-weight:700;
    font-size: 20px;
    color: #69235B;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }   */